* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #af32b4, #322a2c);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 420px;
}

.card {
   background: linear-gradient(135deg, #a34e9b, #bdb7b9);
  padding: 35px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

h2 {
  color: #ff4d6d;
  margin-bottom: 5px;
}

.card p {
  color: #666;
  margin-bottom: 20px;
  font-size: 14px;
}

/* 📸 Profile photo section */
.photo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.photo-section img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ff4d6d;
  margin-bottom: 10px;
}

.photo-section input {
  font-size: 14px;
}

/* Inputs */
input,
select,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1.8px solid #ddd;
  font-size: 14px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #ff4d6d;
}

textarea {
  resize: none;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  background: #ff4d6d;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #e63956;
}

/* Error */
.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}


